html {
    margin: 0;
}

body {
    font-family: sans-serif;
    margin: 5mm 5mm 5mm 5mm;
    padding: 3mm;
}

.text-footer {
    font-size: 11pt;
}

.text-form {
    font-size: 13pt !important;
    margin-bottom: 0;
}

@page {
    margin: 0;
}

.border-line {
    padding: 3mm;
}

.logo_img {
    width: 32mm;
    padding: 1mm;
}

.info-mechanic {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.date {
    text-align: center;
    width: 20%;
    padding-top: 30mm;
}

.date p {
    padding-bottom: 5mm;
}

.border-date,
.border-time {
    border: 0.2mm solid rgb(39, 39, 39);
    padding: 0.7mm 4mm 0.7mm 4mm;
    margin-left: 2mm;
}

.border {
    border-width: 0.2mm solid rgb(39, 39, 39);
}

.fw-sb {
    font-weight: 55mm;
    font-size: 10pt;
}

.fw-b {
    font-weight: bold;
    font-size: 11pt;
}


.table-list {
    width: 100%;
    border-collapse: collapse;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table .border-td,
.table .border-th {
    padding: 1mm 3mm 1mm 3mm;
    border: 0.2mm solid rgb(48, 48, 48);
}

.table .border-th {
    color: black;
}

.table-list td,
.table-list th {
    padding: 1mm;
    border: 0.2mm solid rgb(48, 48, 48);
    text-align: center;
}

.text-center {
    text-align: center;
}

.table-list thead {
    text-transform: uppercase;
    color: black;
    font-size: 3mm;
}

.text-black {
    color: black;
}

.ps-2 {
    padding-left: 15mm;
}

.ps-1 {
    padding-left: 5mm;
}

.m-0 {
    margin: 0mm 0mm 0mm 0mm !important;
}

.text-wrap {
    white-space: normal !important;
}

.w-45 {
    width: 45% !important;
}